/* You can add global styles to this file, and also import other style files */
body{
    background-color: black;
    color: white;
    text-align: center;
}

.obligatorio{
     display: inline-block;
    color: white;
    background-color: red;
    padding: 4px 8px;
    border-radius: 4px;
}

#provincia{
    background-color: white;
    color: black;
}

.formulario{
    border: solid;
   background-color: white;
    color: black;
    border-radius: 10px;
    padding: 4px 8px;
     display: inline-block;
}